
*.cmake
#Visual Code files:
.vscode/

bin/
cmake_install.cmake
compile_commands.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Doxyfile
Makefile
install_manifest.txt
CTestTestfile.cmake
Testing

#For OSX:
SOIL/SOIL.framework/
#For ubuntu:
SOIL/libSOIL.so.1
SOIL/libSOIL.so.1.07

